.header__navigation.navigation
    .navigation__main
        ul.navigation__list
            li.navigation__item
                a.navigation__link  О путешествии
            li.navigation__item
                a.navigation__link  Маршрут
            li.navigation__item
                a.navigation__link  События
            li.navigation__item
                a.navigation__link  Пожелания