section.section__preview
    .container
        .preview
            h1.preview__title Большой велопробег по Алтайскому краю 2020
            .preview-subtitle
                h3.preview-subtitle__title  Это Игорь Рева
                p.preview-subtitle__text Организатор активных туров, велосипедист, путешественник, фотограф и просто интересный человек
            .preview__image
                img(src="../../../img/preview-chel.png", alt="")