.button {
  width: 175px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button svg {
  height: 9px;
  width: 12px;
  fill: #000;
  transition: all 0.5s;
}
.button:hover svg {
  fill: #fff;
}
