.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.logo__text {
  width: 170px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}
.logo__img {
  margin-right: 23px;
}
.logo img {
  width: 80px;
  height: 80px;
}
